<footer class="site-footer outer">
  <div class="site-footer-content inner">
    <nav class="site-footer-nav">
        {{with .Site.Params.fbName}}<a href="https://www.facebook.com/{{.}}" target="_blank" rel="noopener">Facebook</a>{{end}}
        {{with .Site.Params.twitterName}}<a href="https://twitter.com/{{.}}" target="_blank" rel="noopener">Twitter</a>{{end}}
        {{with .Site.Params.scName}}<a href="https://soundcloud.com/@{{.}}" target="_blank" rel="noopener">Soundcloud</a>{{end}}
        {{with .Site.Params.bandcampName}}<a href="https://bandcamp.com/@{{.}}" target="_blank" rel="noopener">Bandcamp</a>{{end}}
        {{with .Site.Params.instagramName}}<a href="https://instagram.com/@{{.}}" target="_blank" rel="noopener">Instagram</a>{{end}}
        {{with .Site.Params.ytName}}<a href="https://instagram.com/@{{.}}" target="_blank" rel="noopener">Youtube</a>{{end}}
    </nav>  
  </div>
</footer>
