<header class="site-header outer">
  <div class="inner">
    <nav class="site-nav">
      <div class="site-nav-left">{{ if .Site.Params.logo }}
        <a class="site-nav-logo" href="#"><img src="{{ .Site.Params.logo  | absURL}}" alt="{{ .Site.Params.Title }}" /></a>{{end}}

        <ul class="nav" role="menu">
        {{ $currentNode := . }}
        {{with .Site.Menus.main}}
        {{ range sort . "Weight" "desc"}}
            <li class="{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .)}}nav-current{{end}}" role="menuitem">
              <a href="{{.URL}}">{{.Name}}</a>
            </li>
        {{end}}{{end}}
      </ul></div>

      <div class="site-nav-right">
        {{ partial "social-links-header" .}} 
        {{ if .Site.Params.RSSLink}}
        <a class="subscribe-button" href="{{.Site.Params.RSSLink }}">Subscribe</a> </div>
        {{else if .Site.Params.showSubscribe}}
        <a class="subscribe-button" href="{{if .IsNode}}{{.RSSLink}}{{else}}{{"index.xml" | absURL}}{{end}}">Subscribe</a>
        {{end}}    
      </div>

    </nav>  

  </div>
</header>