<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}" />
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{{ if .IsHome }}{{ .Title | default .Params.Name }}{{ else }}{{ humanize (.Title | default .Params.type) }} &middot; {{ .Site.Title | default .Params.Name }}{{ end }}</title>

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="194x194" href="/img/icons/favicon-194x194.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/img/icons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/img/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/img/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#d6ba63">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    
    <link rel="canonical" href="{{$.Site.BaseURL}}{{ .Permalink }}" />

    {{ if .IsPage }} <meta name="description" content="{{ .Description | default (substr .Summary 0 160) }}" /> {{ else }}
    <meta name="description" content="{{ .Site.Params.metadescription | default .Site.Params.description }}" /> {{ end }}

    {{ partial "meta-twitter" . }}
    {{ partial "meta-facebook" . }}

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Exo+2:500,800&display=swap" rel="stylesheet">

    {{ "<!-- Stylesheets -->" | safeHTML }}
    {{ $options := (dict "enableSourceMap" true "outputStyle" "compressed") }}
    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS $options }}
    {{ if not .Site.IsServer }}
        {{ $style := resources.Get "sass/main.scss" | resources.ToCSS $options | minify | fingerprint }}
    {{ end }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>
