<article class="post-card post"> 
    {{if .Params.cover}}
    <a class="post-card-image-link" href="{{ .Permalink }}">
      <div class="post-card-image" style="background-image: url({{.Params.cover | absURL}})"></div>
    </a>
    {{else}}
    <a class="post-card-image-link" href="{{ .Permalink }}">
      <div class="post-card-image" style="background-image: url({{$.Site.BaseURL}}defimg/{{ index (seq 7 | shuffle) 0 }}.jpg)"></div>
    </a>    
    {{end}}

    <div class="post-card-content">
      <a class="post-card-content-link" href="{{ .Permalink }}">
          <header class="post-card-header">
              {{if .Params.tags }}<span class="post-card-tags">{{ range $index, $tag := .Params.tags }}
              #{{$tag}} {{end}} </span>
              {{ end }}
              <h2 class="post-card-title">{{.Title}}</h2>
          </header>
      </a>
      {{if .Params.image }}
      <img src="{{ .Params.image | absURL }}">
      {{ end }}
      <section class="post-card-excerpt" style="padding: 0 25px;">
          {{ .Content }}
      </section>

      {{if .Params.author }}
      <footer class="post-card-meta">
          <span class="post-card-author"><a href="/">{{.Params.author | default .Site.Params.author}}</a></span>
      </footer>
      {{ end }}

      {{if .Params.footerImage }}
      <img src="{{ .Params.footerImage | absURL }}" width="100%">
      {{ end }}
    </div>
</article>