{{ partial "head" . }}

{{ $artist := index (.Params.artists) 0}}
{{ $mainArtists := (where (where $.Site.Pages "Type" "artist") ".Params.name" "=" $artist.artist) }}
{{ $mainArtist := index ($mainArtists) 0}}
{{ $releaseArtists := .Params.artists}}

{{ $genre := index (.Params.genres) 0}}

{{ $genres := (where (where .Site.Pages "Type" "genre") ".Params.name" "=" $genre.genre) }}
{{ $genre := index ($genres) 0}}

<body class="ctsingle">
  <div class="site-wrapper">

    {{ partial "header" . }}

    <main id="site-main" class="site-main outer" role="main">
      <div class="inner">
        <div class="post-feed">
          <article class="post-card post">
            {{if .Params.cover}}
              <div class="post-card-image" style="background-image: url({{.Params.cover | absURL}});filter: blur(3px);-webkit-filter: blur(3px);  background-position: 0 -10px; background-repeat: no-repeat; background-size: cover;"></div>
            {{else}}
              <div class="post-card-image"
                style="background-image: url({{$.Site.BaseURL}}defimg/{{ index (seq 7 | shuffle) 0 }}.jpg)"></div>
            {{end}}

            <div class="post-card-content" style="background-color: {{$genre.Params.color1}}">
                <header class="post-card-header">
                  {{if .Params.tags }}<span class="post-card-tags">{{ range $index, $tag := .Params.tags }}
                    #{{$tag}} {{end}} </span>
                  {{ end }}
                  <a class="genre" href="{{$genre.Permalink}}">
                    <span style="color: {{$genre.Params.color3}}">{{$genre.Params.name}}</h5>
                  </a>
                  <h1 class="post-card-title" style="color: {{$genre.Params.color4}}">{{.Title}}</h1>
                </header>
              <section class="post-card-excerpt" style="padding: 0 25px;color: {{$genre.Params.color2}}">
                <div style="width:100%;">
                  <div style="float:left;width:30%;">
                    <img src="{{.Params.image | absURL}}" width="256">
                  </div>
                  <div style="float:none;">
                    <span class="artists">
                      <a class="artist" href="{{$mainArtist.Permalink}}">
                        {{$artist.artist}}
                      </a>
                      with
                      {{ range $index, $value := $releaseArtists}}
                      {{ $artists := (where (where $.Site.Pages "Type" "artist") ".Params.name" "=" $value.artist) }}
                      {{ $artistPage := index ($artists) 0}}
                      {{ if ne $value.artist $artist.artist }}
                        <a class="artist" href="{{ $artistPage.Permalink }}">{{.artist}}</a>{{ $max := add (len $releaseArtists) -2 }}{{if lt $index $max }},{{end}}
                       {{if eq $index $max }}and{{end}}
                      {{ end }}
                    {{end}}
                    </div>
                    {{ .Content }}
                  </div>
              </section>
              <section>
                <div style="width: 60%;margin:auto;margin-top: 5em;">
                  {{if .Params.footerImage }}
                  <img src="{{ .Params.footerImage | absURL }}" width="100%">
                  {{ end }}
                </div>
              </section>
            </div>
        </div>
        </article>
      </div>
  </div>
  </main>

  {{ partial "footer" . }}
  </div>
</body>

</html>
