.vMaskContainer div {
    mask-image:
    linear-gradient(35deg, rgba(0,0,0,0.2) 26%, #fff 25%),
    linear-gradient(-35deg, rgba(0,0,0,0.2) 26%, #fff 25%);
    mask-composite: intersect;

    -webkit-mask-image:
    linear-gradient(35deg, rgba(0,0,0,0.2) 26%, #fff 25%),
    linear-gradient(-35deg, rgba(0,0,0,0.2) 26%, #fff 25%);
    -webkit-mask-composite: source-in;
}