{{ partial "head" . }}

{{ $genre := . }}

<body class="ctsingle">
  <div class="site-wrapper">

    {{ partial "header" . }}

    <main id="site-main" class="site-main outer" role="main">
      <div class="inner">
        <div class="post-feed">
          <article class="post-card post">
            {{if .Params.cover}}
              <div class="post-card-image" style="background-image: url({{.Params.cover | absURL}})"></div>
            {{else}}
              <div class="post-card-image" style="background-image: url({{$.Site.BaseURL}}defimg/{{ index (seq 7 | shuffle) 0 }}.jpg)"></div>
            {{end}}

            <div class="post-card-content" style="background-color: {{$genre.Params.color1}}">
              <a class="post-card-content-link" href="{{ .Permalink }}">
                <header class="post-card-header">
                  {{if .Params.tags }}<span class="post-card-tags">{{ range $index, $tag := .Params.tags }}
                    #{{$tag}} {{end}} </span>
                  {{ end }}
                  <h1 class="post-card-title" style="color: {{$genre.Params.color4}}">{{.Params.name}}</h2>
                </header>
              </a>
              <section class="post-card-excerpt" style="padding: 0 25px; color: {{$genre.Params.color2}}" >
                    {{ .Content }}
                      <ul class="genre-release-list">
                        {{ $releases := (where .Site.Pages "Type" "release") }}
                        {{ range $releases }}
                                {{$release := .}}
                                {{range .Params.genres}}
                                    {{ if eq .genre $genre.Params.name }}
                                      {{$artist := index ($release.Params.artists) 0 }}
                                      <li>
                                        <a href="{{$release.Permalink}}">
                                          <img src="{{$.Site.BaseURL}}/{{$release.Params.cover}}" class="genre-release-list-cover">
                                          <br>{{$artist.artist}} - {{$release.Params.title}} ({{$release.Params.date.Format "2006"}})
                                        </a>
                                      </li>
                                    {{end}}
                                {{end}}
                        {{ end }}
                  </ul>
              </section>
        </div>
        </article>
      </div>
  </div>
  </main>

  {{ partial "footer" . }}
  </div>
</body>

</html>
