{{ partial "head" . }}

{{ $releases := (where .Site.Pages "Type" "release") }}
{{ $artist := . }}

<body class="ctsingle">
  <div class="site-wrapper">

    {{ partial "header" . }}

    <main id="site-main" class="site-main outer" role="main">
      <div class="inner">
        <div class="post-feed">
          <article class="post-card post">
            {{if .Params.cover}}
              <div class="vMaskContainer">
                <div class="post-card-image" style="background-image: url({{.Params.cover | absURL}})"></div>
              </div>
              {{if .Params.portrait}}
              <img class="artist-image" src="{{.Params.portrait | absURL}}" width="256">
              {{end}}
              <h1 class="artist-name">{{.Params.name}}</h1>
              <h2 class="artist-description">{{.Params.description}}</h2>
              <div class="artist-social">
                {{ partial "artist-social-links" . }}
              </div>
            {{else}}
              <div class="post-card-image"
                style="background-image: url({{$.Site.BaseURL}}defimg/{{ index (seq 7 | shuffle) 0 }}.jpg)"></div>
            {{end}}

            <div class="post-card-content artist-content">
              <header class="post-card-header">
                {{if .Params.tags }}<span class="post-card-tags">{{ range $index, $tag := .Params.tags }}
                  #{{$tag}} {{end}} </span>
                {{ end }}
              </header>
                <section class="artist-releases">
                  <h4>Releases</h4>
                  <ul>
                    {{range $releases}}
                    {{$release := .}}
                      {{range .Params.artists}}
                        {{ if eq .artist $artist.Params.name }}
                        <li>
                          <a class="release" href="{{$release.Permalink}}">{{$release.Params.title}}</a> ({{ $release.Date.Format "2006" }})
                        </li>
                        {{ end }}
                      {{ end }}
                    {{ end }}
                  </ul>
                </section>
                <section class="post-card-excerpt" style="padding: 0 25px;">
                  {{ .Content }}
                </section>
              {{if .Params.image}}
              <div class="footerImage">
                <img src="{{.Params.image | absURL}}" width="100%">
              </div>
              {{end}}
            </div>
        </div>
        </article>
      </div>
  </div>
  </main>

  {{ partial "footer" . }}
  </div>
</body>

</html>
